#puzzleContainer {
  max-width: 888px;
	margin: 0 auto;
	border: 10px solid #fff;
	box-shadow: 4px 45px 15px -30px rgba(68,68,68,0.3);
  width: 888px;
  position: relative;
}

#puzzleContainer > #img-unsolved{
  z-index: -100;
}

.receiver {
  height: 95px;
  width: 110px;
  position: absolute;
  z-index: 10;
}

.draggableImg {
  position: absolute;
  z-index: 99;
  cursor: -webkit-grab;
  cursor: grab;
}

.shakeit {
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
  -webkit-animation-name: shakeitTheTiles;
          animation-name: shakeitTheTiles;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}

@-webkit-keyframes shakeitTheTiles {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  25% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px)
  }
  50% {
    -webkit-transform: translate(-4px, -4px);
            transform: translate(-4px, -4px)
  }
  75% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px)
  }
  100% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
    -webkit-filter: brightness(175%);
            filter: brightness(175%);
  }
}

@keyframes shakeitTheTiles {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  25% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px)
  }
  50% {
    -webkit-transform: translate(-4px, -4px);
            transform: translate(-4px, -4px)
  }
  75% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px)
  }
  100% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
    -webkit-filter: brightness(175%);
            filter: brightness(175%);
  }
}

.row1 {
  top: 46px;
}

.row2 {
  top: 94px;
}

.row3 {
  top: 143px;
}

.row4 {
  top: 191px;
}

.row5 {
  top: 239px;
}

.row6 {
  top: 288px;
}

.row7 {
  top: 336px;
}

.row8 {
  top: 385px;
}

.row9 {
  top: 434px;
}

.col1 {
  left: 41px;
}

.col2 {
  left: 125px;
}

.col3 {
  left: 209px;
}

.col4 {
  left: 293px;
}

.col5 {
  left: 377px;
}

.col6 {
  left: 461px;
}

.col7 {
  left: 545px;
}

.col8 {
  left: 629px;
}

.col9 {
  left: 713px;
}