/*
Description: MD Hackathon Team 10 Jigsaw Puzzle 
Authors: Patrick Franz, Rafael Nunez, Mai Xiong, Monali Ghosh
*/

/*------ External Fonts ------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/*------ Reset Styles ------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*------ General Page Styling ------*/

* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 100%; /* 16px */
	font-weight: 400;
	color: #696969;
	background: #fff url(../img/bg-lines.png);
}

/*------ Header Styling ------*/

header {
	width: 100%;
	background: #000;
	color: #fff;
	padding: 1em;
	box-shadow: 0px 0px 8px 5px rgba(68,68,68,.5);
	font-size: 1.5em; /* 24px / 16px */
}

/*------ Main Section Styling ------*/

section {
	padding: 3em 0;
	text-align: center;
}

section input[type="button"] {
	position: relative;
	border: none;
	outline: 0;
	font-size: 1em; /* 16px / 16px */
	font-weight: 700;
	padding: 0.8em 1.2em 1em;
	background: #fff;
	margin: 0 auto;
	box-shadow: 0 4px 2px -1px rgba(68,68,68,0.3);
	cursor: pointer;
}

section input[type="button"]:hover {
	box-shadow: 0 10px 5px 0px rgba(68,68,68,0.3);
}

section input[id="preview"],
section input[id="reset"] {
	display: none;
}

/*------ Puzzle Container Styling ------*/

#puzzle-container {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 888px;
	margin: 0 auto;
	border: 10px solid #fff;
	box-shadow: 4px 45px 15px -30px rgba(68,68,68,0.3);
}

#preview-img {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 1s ease;
}

#puzzle-pieces {
	background: rgba(0,0,0,0.9); 
	visibility: hidden;
	height: 0px;
	transition: height 0.5s ease;
}

#puzzle-board img[id="unsolved-puzzle"] {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s ease;
}

/*------ Overlapping Puzzle Images Styling ------*/

#hex-images {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}

#hex-images img {
	position: absolute;
	transition: all 2s ease;

}

#hex-images img:nth-child(1) {
	top: 45px;
	left: 41px;
}

#hex-images img:nth-child(2) {
	top: 142px;
	left: 41px;
}

#hex-images img:nth-child(3) {
	top: 94px;
	left: 125px;
}

#hex-images img:nth-child(4) {
	top: 190px;
	left: 125px;
}

#hex-images img:nth-child(5) {
	top: 45px;
	left: 209px;
}

#hex-images img:nth-child(6) {
	top: 143px;
	left: 209px;
}

#hex-images img:nth-child(7) {
	top: 93px;
	left: 292px;
}

#hex-images img:nth-child(8) {
	top: 190px;
	left: 292px;
}

#hex-images img:nth-child(9) {
	top: 45px;
	left: 377px;
}

#hex-images img:nth-child(10) {
	top: 142px;
	left: 377px;
}

#hex-images img:nth-child(11) {
	top: 93px;
	left: 460px;
}

#hex-images img:nth-child(12) {
	top: 190px;
	left: 460px;
}

#hex-images img:nth-child(13) {
	top: 45px;
	left: 545px;
}

#hex-images img:nth-child(14) {
	top: 143px;
	left: 545px;
}

#hex-images img:nth-child(15) {
	top: 93px;
	left: 629px;
}

#hex-images img:nth-child(16) {
	top: 190px;
	left: 629px;
}

#hex-images img:nth-child(17) {
	top: 45px;
	left: 713px;
}

#hex-images img:nth-child(18) {
	top: 142px;
	left: 713px;
}











/*------ Footer Styling ------*/

footer {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	bottom: 0;
	background: rgba(219,219,219, 0.9);
	padding: 0.7em;
	font-size: 0.875em;
}

footer img {
	border: 3px solid rgb(187,187,187);
	border-radius: 50%;
	margin-left: 1em;
	margin-right: 0.5em;
	width: 30px;
}